sudo: required

services: docker

before_install:
  - docker-compose up --build
  - docker login -u "$HEROKU_USERNAME" -p "HEROKU_API_KEY" registry.heroku.com

script:
  - docker-compose exec web rails db:create
  - docker-compose exec web rails db:migrate 
  - docker-compose exec web rails test 

deploy:
  provider: script
  script:
    docker build -t registry.heroku.com/$HEROKU_APP_NAME/web -f Dockerfile.prod .;
    docker push registry.heroku.com/$HEROKU_APP_NAME/web;
    heroku run --app $HEROKU_APP_NAME rails db:migrate;
  on:
    branch: master
